<?xml version="1.0"?>
<config>
    <modules>
        <Mony_Monypayments>
            <version>2.0.5</version>
        </Mony_Monypayments>
    </modules>
    <mony_monypayments>
        <environments>
            <sandbox>
                <name>Sandbox Test</name>
                <api_url>https://api-sandbox.secure-monypayments.com/v1/</api_url>
                <web_url>https://buy-sandbox.monypayments.com/</web_url>
            </sandbox>
            <production>
                <name>Production</name>
                <api_url>https://api.secure-monypayments.com/v1/</api_url>
                <web_url>https://buy.monypayments.com/</web_url>
            </production>
        </environments>
    </mony_monypayments>
    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <monypayments_token>
                    <to_order_payment>*</to_order_payment>
                </monypayments_token>
                <monypayments_save_card>
                    <to_order_payment>*</to_order_payment>
                </monypayments_save_card>
            </sales_convert_quote_payment>
        </fieldsets>
        <models>
            <monypayments>
                <class>Mony_Monypayments_Model</class>
            </monypayments>
        </models>
        <blocks>
            <monypayments>
                <class>Mony_Monypayments_Block</class>
            </monypayments>
        </blocks>
        <helpers>
            <monypayments>
                <class>Mony_Monypayments_Helper</class>
            </monypayments>
        </helpers>
        <resources>
            <monypayments_setup>
                <setup>
                    <module>Mony_Monypayments</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </monypayments_setup>
        </resources>
        <payment>
            <cc>
                <types>
                    <DC>
                        <code>DC</code>
                        <name>Diners Club</name>
                        <order>60</order>
                    </DC>
                </types>
            </cc>
        </payment>
    </global>
    <adminhtml>
        <events>
            <sales_order_creditmemo_save_before>
                <observers>
                    <mony_monypayments_creditmemo_added_comment>
                        <type>singleton</type>
                        <class>monypayments/observer</class>
                        <method>addMonypaymentsDataComment</method>
                    </mony_monypayments_creditmemo_added_comment>
                </observers>
            </sales_order_creditmemo_save_before>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <monypayments>
                <use>standard</use>
                <args>
                    <module>Mony_Monypayments</module>
                    <frontName>monypayments</frontName>
                </args>
            </monypayments>
        </routers>
        <layout>
            <updates>
                <monypayments>
                    <file>monypayments.xml</file>
                </monypayments>
            </updates>
        </layout>
        <events>
            <sales_order_payment_place_end>
                <observers>
                    <mony_monypayments_order_payment_review>
                        <type>singleton</type>
                        <class>monypayments/observer</class>
                        <method>assignOrderStatus</method>
                    </mony_monypayments_order_payment_review>
                </observers>
            </sales_order_payment_place_end>
        </events>
    </frontend>
    <crontab>
        <jobs>
            <monypayments_pending_review_update>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>monypayments/cron::pendingOrderUpdate</model>
                </run>
            </monypayments_pending_review_update>
        </jobs>
    </crontab>
    <default>
        <payment>
            <monypayments>
                <title>Credit Card (Mony)</title>
                <model>monypayments/method_card</model>
                <enable_saved_card>0</enable_saved_card>
                <supported_cctypes>AE,VI,MC,DI,DC</supported_cctypes>
                <cctypes>VI,MC</cctypes>
                <message>Credit Cards</message>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <payment_review_status>monypayments_payment_review</payment_review_status>
                <payment_review_email_send>0</payment_review_email_send>
                <payment_action>authorize_capture</payment_action>
                <api_mode>sandbox</api_mode>
                <api_password backend_model="adminhtml/system_config_backend_encrypted"/>
            </monypayments>
        </payment>
    </default>
</config>
